
.post {
    display: block;
    /* padding: 5px; */
    width: 30%;
    margin-bottom: 50px;
    background-color: #f4f4f4;
    /* border: 1px solid black; */
    cursor: pointer;

    
}
/* .post_wrap { 

} */

/* .post_img {
    
   
} */
.post_img img {
    width: 100%;
    height: 200px;
    object-fit:cover;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    
    
}
.post_img img:hover {
    transform: scale(1.05);
    
    
    
}
h2 {
    text-align: left;
}

p{
    text-align: justify;
}
.post_footer {
    display: flex;
    justify-content: space-between;
}
.likePost {
    display: flex;
    justify-content: left;
}

/* .savePost {

} */