.signInContainer{
  width: 300px;
  display: block;
  margin: auto;
  padding: 20px;
  border: 1px solid gray;
} 
.signInDescr {
  text-align: center;
  
}

input {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  
}

.signInSubmit {
  margin: 0 auto;
  width: 100px;
  border-radius: 5px;
  
} 