.post {
    border-bottom: 1px solid gainsboro;
    margin-top: 30px;
    cursor: pointer;
  }
  
  /* .post__description {
    display: flex;
    margin-bottom: 30px;
  }
  .post__description.active {
    color: aliceblue;
  }
  .post__info {
  } */