.postsWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px auto 0;
    width: 100%;
    max-width: 1170px;
}
.posts {
    
    display: flex;
    width: 30%;
    /* margin-right: 3%; */
}
.posts:last-child {
    margin-right: 0;
}

