.postsWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
}
.posts {
    
    display: flex;
    width: 30%;
    /* margin-right: 3%; */
}
.posts:last-child {
    margin-right: 0;
}

